@model IEnumerable<Regulation>

@{
    ViewData["Title"] = "Index";
}

<h1>Regulations</h1>

<p>
    <a asp-action="Create">Create New Regulation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Program)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-code="@item.Code">Edit</a> |
                    <a asp-action="Details" asp-route-code="@item.Code">Details</a> |
                    <a asp-action="Delete" asp-route-code="@item.Code">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
