@model EducationalProgram

@{
    ViewData["Title"] = "Details";
}

<h1>Educational Program Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Requirement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Requirement.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<br />
<br />

@{
    if (Model.ProgramCourses != null && Model.ProgramCourses.Count > 0)
    {
        var compulsory = Model.ProgramCourses.Where(c => c.IsCompulsory == true).ToList();
        var elective = Model.ProgramCourses.Where(c => c.IsCompulsory == false).ToList();

        if (compulsory != null && compulsory.Count > 0)
        {
            <h4> Compulsory Courses </h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Course Code
                        </th>
                        <th>
                            Course Title
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var progCourse in compulsory)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => progCourse.CourseCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => progCourse.Course.CourseTitle)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "ProgramCourses", new { progId = progCourse.EducationalProgramId, courseCode = progCourse.CourseCode }) |

                                @Html.ActionLink("Details", "Details", "ProgramCourses", new { progId = progCourse.EducationalProgramId, courseCode = progCourse.CourseCode }) |

                                @Html.ActionLink("Delete", "Delete", "ProgramCourses", new { progId = progCourse.EducationalProgramId, courseCode = progCourse.CourseCode })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <br />
        }

        if (elective != null && elective.Count > 0)
        {
            <h4> Elective Courses </h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Course Code
                        </th>
                        <th>
                            Course Title
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var progCourse in elective)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => progCourse.CourseCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => progCourse.Course.CourseTitle)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "ProgramCourses", new { progId = progCourse.EducationalProgramId, courseCode = progCourse.CourseCode }) |

                                @Html.ActionLink("Details", "Details", "ProgramCourses", new { progId = progCourse.EducationalProgramId, courseCode = progCourse.CourseCode }) |

                                @Html.ActionLink("Delete", "Delete", "ProgramCourses", new { progId = progCourse.EducationalProgramId, courseCode = progCourse.CourseCode })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <br />
        }
    }
}