@model StaffLink

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete The Link</h1>

<div class="row-fluid">
    <div class="m-2 p-3 border border-danger border-3">
        <table class="table table-striped text-center">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Title)
                </td>
            </tr>
            <tr>
                <th class="align-middle">
                    @Html.DisplayNameFor(model => model.Link)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Link)
                </td>
            </tr>
            <tr>
              
            <tr>
                <td colspan="2">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger m-2 w-25" /> |

                        <a asp-controller="Staffs" asp-action="Details" asp-route-id="@Model.StaffId" class="btn btn-dark m-2 w-25">Back to Details</a>
                    </form>
                </td>
            </tr>

        </table>
    </div>

</div>
