@model ProgramCourse

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Program Course</h1>
 
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="CourseCode" />
            <input type="hidden" asp-for="EducationalProgramId" />
            <div class="form-group form-check">

                <label class="form-label">
                     @Html.DisplayNameFor(model => model.Course.CourseTitle)
                </label>
                <input class="form-control" value="@Model.Course.CourseTitle" disabled />
                <br/>
                <label class="form-label">
                    @Html.DisplayNameFor(model => model.EducationalProgram.Title)
                </label>
                <input class="form-control" value="@Model.EducationalProgram.Title" disabled />
                <br />

                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCompulsory" /> @Html.DisplayNameFor(model => model.IsCompulsory)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
