@model IEnumerable<ProgramCourse>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Program Course</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsCompulsory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationalProgram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompulsory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationalProgram.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseTitle)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { progId = item.EducationalProgramId, courseCode = item.CourseCode }) |

                    @Html.ActionLink("Details", "Details", new { progId = item.EducationalProgramId, courseCode = item.CourseCode }) |

                    @Html.ActionLink("Delete", "Delete", new { progId = item.EducationalProgramId, courseCode = item.CourseCode })
            </td>
        </tr>
}
    </tbody>
</table>
