@model webApp.Models.StudyPlanCourse

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StudyPlanCourse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemesterOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemesterOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemesterTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemesterTwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudyPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudyPlan.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseTitle)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CourseCode" />
        <input type="hidden" asp-for="StudyPlanId" />
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
