@model webApp.Models.StudyPlanCourse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudyPlanCourse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemesterOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemesterOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemesterTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemesterTwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudyPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudyPlan.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseTitle)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { studyPlanId = Model.StudyPlanId, courseCode = Model.CourseCode }) |
    <a asp-action="Index">Back to List</a>
</div>
